[submodule "xdevs-java"]
	path = simulators/xdevs-java
	url = https://github.com/jlrisco/xdevs.git
	branch = java
[submodule "xdevs-python"]
	path = simulators/xdevs-python
	url = https://github.com/jlrisco/xdevs.git
	branch = perfdevs
[submodule "cadmium"]
	path = simulators/cadmium
	url = https://github.com/SimulationEverywhere/cadmium.git
[submodule "adevs"]
	path = simulators/adevs
	url = https://github.com/smiz/adevs.git
[submodule "pythonpdevs"]
	path = simulators/pythonpdevs
	url = http://msdl.uantwerpen.be/git/yentl/PythonPDEVS.git
[submodule "simulators/xdevs-c++"]
	path = simulators/xdevs-c++
	url = https://github.com/iscar-ucm/xdevs.git
