[submodule "cadmium"]
	path = simulators/cadmium
	url = https://github.com/SimulationEverywhere/cadmium.git
[submodule "simulators/cadmium_v2"]
	path = simulators/cadmium_v2
	url = https://github.com/SimulationEverywhere/cadmium_v2.git
[submodule "simulators/xdevs.rs"]
	path = simulators/xdevs.rs
	url = https://github.com/iscar-ucm/xdevs.rs.git
[submodule "simulators/xdevs.c"]
	path = simulators/xdevs.c
	url = https://github.com/iscar-ucm/xdevs.c.git
[submodule "simulators/xdevs.cpp"]
	path = simulators/xdevs.cpp
	url = https://github.com/iscar-ucm/xdevs.cpp.git
[submodule "simulators/xdevs.java"]
	path = simulators/xdevs.java
	url = https://github.com/iscar-ucm/xdevs.java.git
[submodule "simulators/xdevs.py"]
	path = simulators/xdevs.py
	url = https://github.com/iscar-ucm/xdevs.py.git
[submodule "simulators/pythonpdevs"]
	path = simulators/pythonpdevs
	url = https://msdl.uantwerpen.be/git/yentl/PythonPDEVS.git
